@model YAMBOLY.PORTALADMINISTRADOR.VIEWMODEL.General.LoginViewModel

@{
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
    ViewBag.Title = "Editar Comentario";
    ViewBag.Icon = "user";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
}

<div class="panel-group panel-group-continuous margin-0" id="exampleAccrodion-@ViewBag.GUID" aria-multiselectable="true" role="tablist">
    <div class="panel">
        <div class="panel-heading" id="exampleHeadingFirst-@ViewBag.GUID" role="tab">
            <a class="panel-title collapsed" data-parent="#exampleAccrodion-@ViewBag.GUID" data-toggle="collapse" href="#exampleCollapseFirst-@ViewBag.GUID" aria-controls="exampleCollapseFirst-@ViewBag.GUID" aria-expanded="false">
                <i class="md-palette"></i> First

            </a>

        </div>
        <div style="height: 0px;" aria-expanded="false" class="panel-collapse collapse" id="exampleCollapseFirst-@ViewBag.GUID" aria-labelledby="exampleHeadingFirst-@ViewBag.GUID" role="tabpanel">
            <div class="panel-body">
                Remissius verear, sabinum concessum linguam umbram saepe vendibiliora quoddam terroribus,
                intellegere rectas videmus octavio sapientiam,
                mox magistra provincias chaere videre coerceri
                efficiat, corpus mediocriterne sinat beatam denique
                maiora menandro, iniucundus fastidium, aliquem
                probatus benivolentiam omnium summum facultas fuga,
                debitis mirari menandri domus molita. Maximisque
                interpretaris multoque exercitus tractatas, commemorandis
                pecunias.

            </div>

        </div>

    </div>
    <div class="panel">
        <div class="panel-heading" id="exampleHeadingSecond-@ViewBag.GUID" role="tab">
            <a class="panel-title" data-parent="#exampleAccrodion-@ViewBag.GUID" data-toggle="collapse" href="#exampleCollapseSecond-@ViewBag.GUID" aria-controls="exampleCollapseSecond-@ViewBag.GUID" aria-expanded="true">
                <i class="md-place"></i> Second

            </a>

        </div>
        <div style="" aria-expanded="true" class="panel-collapse collapse in" id="exampleCollapseSecond-@ViewBag.GUID" aria-labelledby="exampleHeadingSecond-@ViewBag.GUID" role="tabpanel">
            <div class="panel-body">
                Diuturnitatem chremes gratia macedonum referatur intellegitur t ea industriae plus,
                ex videmus praetereat ratio mediocrem pro orestem,
                ipsam lictores perpetiuntur aperiri benivolentiam,
                nusquam ignaviamque athenis m plato videamus, liberatione
                scientia nihilo aristotelem quoquo consumere latinam,
                successerit certa morte menandro delectatum noster
                impetu videri senserit, infinitum iudicatum misisti
                conectitur, voce proficiscuntur.

            </div>

        </div>

    </div>
    <div class="panel">
        <div class="panel-heading" id="exampleHeadingThird-@ViewBag.GUID" role="tab">
            <a class="panel-title collapsed" data-parent="#exampleAccrodion-@ViewBag.GUID" data-toggle="collapse" href="#exampleCollapseThird-@ViewBag.GUID" aria-controls="exampleCollapseThird-@ViewBag.GUID" aria-expanded="false">
                <i class="md-loupe"></i> Third

            </a>

        </div>
        <div aria-expanded="false" class="panel-collapse collapse" id="exampleCollapseThird-@ViewBag.GUID" aria-labelledby="exampleHeadingThird-@ViewBag.GUID" role="tabpanel">
            <div class="panel-body">
                Audire scribimus spe platonis longinquitate evertunt scribi, notionem doleamus
                assentiar mortis lucilius, exedunt. Finitum genus
                coniunctione vidisse, ipsam grate studuisse respondendum
                ignorant probabo atomum. Corrumpit mortem instructus
                totam familiarem tertium voluntates consilia aperiam
                disputata, plena animumque ius supplicii incurrunt
                laboribus, rationis dedocendi incurreret illam
                triari utrisque eos commodius. Assentiar magnitudinem.

            </div>
        </div>
    </div>
</div>