<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ODataUrl" value="https://172.16.7.51:4300//MSS_YAMBOLY_GEOLOCATION/Services/ODataService.xsodata/$metadata" />
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="YAMBOLY_GESTIONRUTASEntities" connectionString="metadata=res://*/YAMBOLY_GESTIONRUTASModel.csdl|res://*/YAMBOLY_GESTIONRUTASModel.ssdl|res://*/YAMBOLY_GESTIONRUTASModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSS-TERMHANA;initial catalog=YAMBOLY_GESTIONRUTAS;persist security info=True;user id=sa;password=S31d0r2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="YAMBOLY_PORTALADMINISTRADOREntities" connectionString="metadata=res://*/YAMBOLY_PORTALADMINISTRADORModel.csdl|res://*/YAMBOLY_PORTALADMINISTRADORModel.ssdl|res://*/YAMBOLY_PORTALADMINISTRADORModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSS-TERMHANA;initial catalog=YAMBOLY_PORTALADMINISTRADOR;user id=sa;password=S31d0r2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>